{% extends 'base.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}
<br>
<div class="container" style="color: white">
    <p>
        Цей додаток є потужним інструментом для роботи з корпоративними даними, які збираються завдяки застосунку <a href="https://github.com/ValeriyFromUA/scrap_UA-Kyiv.git">scrap_UA-Kyiv</a>, також розробленомому <a href="https://www.linkedin.com/in/valeriy-vasilenko/">автором</a> цього ж додатку
         . Ми зберігаємо ці дані у високоефективній базі даних PostgreSQL, що дозволяє зберігати великий обсяг інформації про компанії з усіх куточків нашої прекрасної країни.
    </p>

    <h2>Що включено у базу даних</h2>
    <ul>
        <li>Назва компанії</li>
        <li>Тип компанії (наприклад, Інтернет-магазин, ТОВ, ветеринарна клініка)</li>
        <li>Сфери діяльності</li>
        <li>Адреса</li>
        <li>Телефонні номери</li>
        <li>Адреси електронної пошти</li>
        <li>Веб-сайт</li>
        <li>Короткий опис</li>
    </ul>

    <h2>Авторизація</h2>
    <p>
        Для отримання доступу до даних компаній необхідно здійснити авторизацію. Після проходження процесу авторизації користувач отримає можливість переглядати інформацію про компанії та їх характеристики.
    </p>

    <h2>Як це працює</h2>
    <p>
        Додаток використовує зібрані корпоративні дані з <a href="https://github.com/ValeriyFromUA/scrap_UA-Kyiv.git">scrap_UA-Kyiv</a> та зберігає їх у високоефективній базі даних PostgreSQL. Зареєстровані користувачі мають можливість переглядати детальні дані про різні компанії. Кожна компанія має власну сторінку зі своїми характеристиками, які стають доступними після авторизації.
    </p>

    <p>
        Додаток надає зручний інтерфейс для пошуку та фільтрації компаній за різними критеріями, що допомагає знайти потрібну інформацію швидше та ефективніше.
    </p>

    <p>
        Важливо пам'ятати, що додаток користується базою даних з <a href="https://github.com/ValeriyFromUA/scrap_UA-Kyiv.git">scrap_UA-Kyiv</a> та не створює своєї. Для правильної роботи додатку, впевніться, що обидва додатки використовують одну і ту саму базу даних. Також, зверніть увагу, що запуск спостерігача може зайняти тривалий час, залежно від обсягу даних, тому рекомендуємо запустити його перед запуском додатку Django.
    </p>
    </div>
{% endblock %}