{% extends 'base.html' %}
{% block title %}Створення профілю{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" >
        <div class="col-md-6" style="color: white" >
            <br>
            <h2>Створення профілю:</h2>

            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" id="email"
                           name="email" required>
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="username">Логін:</label>
                    <input type="text" class="form-control{% if form.phone.errors %} is-invalid{% endif %}"
                           id="username" name="username" required>
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password1">Вигадайте пароль:</label>
                    <input type="password" class="form-control{% if form.password1.errors %} is-invalid{% endif %}"
                           id="password1" name="password1" required>
                    {% for error in form.password1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Пароль має складатися, як мінімум, з 8 символів, а також містити латинські букви та цифри.
                    </small>
                </div>
                <div class="form-group">
                    <label for="password2">Продублюйте пароль:</label>
                    <input type="password" class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                           id="password2" name="password2" required>
                    {% for error in form.password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <small id="password2HelpBlock" class="form-text text-muted">
                        обов'язково запам'ятайте Ваш пароль, відновити його не буде можливості.
                    </small>
                </div>
                <button type="submit" class="btn btn-dark">Створити акаунт</button>
            </form>
            <br>
        </div>
    </div>
</div>


{% endblock %}